{% extends "blocks/config.html.twig" %}

{% block content_config %}
    {% import 'AppBundle::Components/buttons.html.twig' as buttons %}
    {% import 'blocks/config/lists/users.html.twig' as form %}

    <form action="" method="post" class="col-lg-4">
        {{ form_widget(block_users_form._token) }}

        <table class="table table-condensed">
          <thead>
              <tr>
                  <th>Users</th>
                  <th>Role</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="collections" data-prototype="{{ form.users(block_users_form.blocksUsers.vars.prototype)|e }}">
              {% for users in block_users_form.blocksUsers %}
                  {{ form.users(users) }}
              {% endfor %}
          </tbody>
          </table>
      <div class="btn btn-group">
          {{ buttons.submit() }}
          {{ buttons.button('Add', '', 'btn btn-default collections-add','plus') }}
      </div>
    </form>
{% endblock %}
