{% extends 'blocks/config.html.twig' %}

{% block content_config %}

    {% import 'AppBundle::Components/buttons.html.twig' as buttons %}

    {% import 'categories/block-categories.html.twig' as form %}

      <form action="" method="post" class="col-lg-4">
          {{ form_widget(blocks_categories_form._token) }}

          <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="collections" data-prototype="{{ form.categories(blocks_categories_form.categories.vars.prototype)|e }}">
                {% for categories in blocks_categories_form.categories %}
                    {{ form.categories(categories) }}
                {% endfor %}
            </tbody>
            </table>


        <div class="btn btn-group">
            {{ buttons.submit() }}
            {{ buttons.button('Add', '', 'btn btn-default collections-add','plus') }}
        </div>
      </form>
{% endblock %}
